@import "../../styles/theme.scss";

.change-password {
  &__card {
    text-align: center;
    min-width: 400px;
    img {
      width: 170px;
    }
    h1 {
      margin-bottom: 20px;
    }

    .forgot-form {
      i {
        color: rgba(0, 0, 0, 0.25);
      }
      .forgot-form-button {
        width: 100%;
      }
    }
  }
}
