@import "../../styles/theme.scss";
.login {
  padding: 0;
  margin: 20vh 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $primary-color;
}
.login-form {
}
.login-form-forgot {
}
.login-form-button {
}
