.session-managment_dropdown-div {
  padding: 8px;
  .session-managment_datepicker {
    width: 300px;
    margin-bottom: 8px;
    display: "block";
  }
  .session-managment_search-btn {
    width: 90px;
    margin-right: 8px;
  }
  .session-managment_reset-btn {
    width: 90px;
  }
}
// .session-managment_search-icon{
//   color:  #1890ff;
// }
